<!DOCTYPE html>
<html>
<head>
    <title>Silver Ice Helsinki</title>
</head>
<body>

    <h1>Silver Ice Helsinki</h1>

    <h2>Figure Skating Studio</h2>
{% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}!</h1>
    <p>You are logged in.</p>
    {% if membership %}
        <h3> Your membership</h3>
        <p>Trainings left: {{membership.trainings_left}} </p>
        <p> Purchased at: {{membership.purchased_at}} </p>
        <p> Valid until: {{membership.valid_until}} </p>
    {% else %}
        <h3>You don't have a membership yet</h3>
    {% endif %}


{% else %}
    <h1>Welcome to Silver Ice Helsinki</h1>
    <p>Please log in or create an account.</p>

    <p>
        <a href="{% url 'studio:register' %}">Create an account</a>
    </p>

    <p>
        <a href="{% url 'studio:login' %}">Log in</a>
    </p>

{% endif %}
    <p>
    <a href="{% url 'studio:trainings' %}">View Trainings</a>
    </p>
</body>
</html>