<!--Only coaches can see this page -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ training.title }}</title>
</head>
<body>
    <h1>{{ training.title }}</h1>
    <p> Date: {{ training.date }}</p>
    <p> Coach: {{ training.coach }}</p>
    <p> Description: {{ training.description }}</p>
    <h2> Registered clients:</h2>

    {% for registration in registrations %}

        <p>{{ registration.client.username }}</p>
        {% if user.is_staff %}
        <form method="post" action="{% url 'studio:coach_cancel_registration' registration.id %}">
        {% csrf_token %}
        <button type="submit">Cancel registration</button>
        </form>
        {% endif %}
        <!--Later i want to make active linkn, leading to user profile if we click the username -->
    {% empty %}
        <p>No clients registered yet.</p>
        {% comment %}
        Later: make the username a link to the client's profile.
        {% endcomment %}
    {% endfor %}



</body>
</html>